body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(10, 10, 199, 0.603);
    padding: 10px;
    color: white;
    border-radius: 15px;
    margin: 15px 15px 15px 3px; 
}

div {
    background-image: url("https://images.pexels.com/photos/1437466/pexels-photo-1437466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 721px;
    width: 1081px;
    display: block;
    margin: auto;
}

div:hover {
    background-image: url("https://images.pexels.com/photos/6001417/pexels-photo-6001417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

